main {
  height: 100vh;
  overflow: auto;
}

section {
  height: 60vh;
  position: relative;
  --opacity: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: black;
    opacity: var(--opacity);
  }
}
.section1 {
  --opacity: 5%;
}
.section2 {
  --opacity: 10%;
}
.section3 {
  --opacity: 15%;
}
.section4 {
  --opacity: 20%;
}
.section5 {
  --opacity: 25%;
}
.section6 {
  --opacity: 30%;
}
.section7 {
  --opacity: 35%;
}
.section8 {
  --opacity: 40%;
}
.section9 {
  --opacity: 45%;
}
.section10 {
  --opacity: 50%;
}
