<main ardInfScroll (ardInfScrollReachThreshold)="onThresholdReach()" [(ardInfScrollActive)]="isInfScrollActive">
  <section class="section1"></section>
  <section class="section2"></section>
  <section class="section3"></section>
  <section class="section4"></section>
  <section class="section5"></section>
  <section [class.hidden]="isPart2Hidden()" class="section6"></section>
  <section [class.hidden]="isPart2Hidden()" class="section7"></section>
  <section [class.hidden]="isPart2Hidden()" class="section8"></section>
  <section [class.hidden]="isPart2Hidden()" class="section9"></section>
  <section [class.hidden]="isPart2Hidden()" class="section10"></section>
</main>