main {
  padding: 2rem;
}
h2 {
  padding-top: 1rem;
}
div {
  font-size: 20px;
  margin: 1rem 0;
  width: max-content;
  display: flex;

  label {
    width: 200px;
  }
  input {
    font-size: 18px;
    padding: 0.1rem 0.5rem;
  }
}
